<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>蔵書管理</title>
</head>
<body>

<h1>蔵書管理</h1>
<h2>蔵書データの登録</h2>
<p>下記の蔵書データを登録しました</p>
<a href="list.erb">蔵書データの表示</a>
<a href="index.html">メニュー画面へ戻る</a>

<hr>