<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>蔵書管理</title>
</head>
<body>

<h1>蔵書管理</h1>
<h2>指定されたidはすでに使われています</h2>
<p>蔵書データを選択してから実行してください</p>
<a href="entry.erb">蔵書データの登録</a>
<a href="list.erb">蔵書データの表示</a>
<a href="index.html">メニュー画面へ戻る</a>

<hr>

</body>
</html>